body {
    background-color: #EEEEEE;
}

header,

main,
footer {
    padding: 1em 0;
}

header {
    background-color: #515A5A ;
    text-align: center;
}

div.tittle{
    margin-right: 257px;
}

div.logo{
    margin-top: 19px;
    float: left;
}


#divCentral {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
}



main {
	flex : 10;
    background-color: #EEEEEE;
    padding-left: 6em;
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: #515A5A;
    border-radius: 1em;
}

img.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Style horizontal nav header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #515A5A;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

